In [35]:
import pandas as pd
import numpy as np
import datetime as dt

In [14]:
df_dishes = pd.read_csv('./DB/DISHES.csv',sep = ';')
df_restaurants = pd.read_csv('./DB/restaurants.csv', sep = ';')
df_administratives = pd.read_csv('./DB/administratives.csv', sep = ';')

In [15]:
df_dishes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Restaurante  71 non-null     int64
 1   Plato        71 non-null     object
 2   Descripción  71 non-null     object
 3   Categoría    71 non-null     object
 4   Precio       71 non-null     float64
 5   id           71 non-null     int64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.5+ KB

In [16]:
df_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   name       10 non-null     object
 2   direction  10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes

In [17]:
df_administratives.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nombre         20 non-null     object
 1   Email          20 non-null     object
 2   Contraseña     20 non-null     object
 3   Rol            20 non-null     object
 4   id             20 non-null     int64
 5   restaurant_id  20 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB

In [20]:
df_administratives['id'] = np.array(range(1,21))

In [23]:
df_administratives.to_csv('./DB/administratives.csv',sep = ';')

In [42]:
df_administratives = pd.read_csv('./DB/administratives.csv',sep = ';')

### Add id to dishes

In [25]:
df_dishes['id'] = np.array(range(1,72))

#### Upload csv

In [33]:
df_dishes.to_csv('./DB/dishes.csv',sep = ';')

In [27]:
df_dishes = pd.read_csv('./DB/dishes.csv',sep = ';')

## each administrative and dish have a same restaurante, we going to add your id

In [32]:
df_dishes.head()

,Unnamed: 0,Restaurante,Plato,Descripción,Categoría,Precio,id
0,0,1,Classic Burger,Deliciosa hamburguesa clásica con carne jugosa...,Hamburguesa,9.99,1
1,1,1,Cheeseburger Supreme,"Hamburguesa con doble carne, queso fundido, to...",Hamburguesa,12.99,2
2,2,1,Spicy Chicken Sandwich,"Sándwich de pollo picante con lechuga, tomate ...",Sándwich,10.99,3
3,3,1,Vegetarian Deluxe,Burger vegetariana con una sabrosa mezcla de v...,Hamburguesa,9.99,4
4,4,2,Eggs Benedict,Huevos pochados sobre muffin inglés con loncha...,Desayuno,11.99,5
...,...,...,...,...,...,...,...
66,66,9,Tiramisu,"Postre italiano clásico hecho con bizcochos, c...",Postre,7.99,67
67,67,10,BBQ Chicken Wings,Alitas de pollo bañadas en salsa BBQ y servida...,Aperitivo,8.99,68
68,68,10,Grilled Chicken Caesar Salad,"Ensalada César con pollo a la parrilla, lechug...",Ensalada,10.99,69
69,69,10,Chicken Quesadilla,Quesadilla de pollo con queso cheddar derretid...,Plato Principal,9.99,70
70,70,10,Key Lime Pie,Tarta de lima con una base de galleta y crema ...,Postre,6.99,71

In [29]:
df_restaurants.head()

   id               name               direction
0   1  McQueen's Burgers     Calle Rivadavia 123
1   2      Suburban Café  Avenida San Martín 456
2   3     Coffee Kingdom             Calle 7 789
3   4      Taco Emporium          Avenida 13 234
4   5       Pizzalicious            Calle 47 567

In [43]:
df_administratives.head()

                Nombre                  Email  Contraseña             Rol  id
0        Rodrigo López    rodrigo@example.com  KX8YtZ5Q7a            Caja   1
1  Valentina Fernández  valentina@example.com  T2jF9P4D6s            Mozo   2
2    Federico Martínez   federico@example.com  M3rK7iG1V8  Administrativo   3
3       Camila Herrera     camila@example.com  E9sF6H2J1c            Mozo   4
4          Lucas Gómez      lucas@example.com  B5vR9A3K8t            Caja   5

### Add id's restaurante to dishes foreing key

In [54]:
df_dishes = df_dishes.drop('Unnamed: 0', axis=1)

In [60]:
df_dishes.info()
df_dishes.to_csv('./DB/DISHES.csv', sep = ';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Restaurante  71 non-null     int64
 1   Plato        71 non-null     object
 2   Descripción  71 non-null     object
 3   Categoría    71 non-null     object
 4   Precio       71 non-null     float64
 5   id           71 non-null     int64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.5+ KB

In [30]:
# Mapear el nombre del restaurante por el ID del restaurante
df_dishes['Restaurante'] = df_dishes['Restaurante'].map(df_restaurants.set_index('name')['id'])

    Unnamed: 0  Restaurante                         Plato  \
0            0            1                Classic Burger
1            1            1          Cheeseburger Supreme
2            2            1        Spicy Chicken Sandwich
3            3            1             Vegetarian Deluxe
4            4            2                 Eggs Benedict
..         ...          ...                           ...
66          66            9                      Tiramisu
67          67           10             BBQ Chicken Wings
68          68           10  Grilled Chicken Caesar Salad
69          69           10            Chicken Quesadilla
70          70           10                  Key Lime Pie

                                          Descripción        Categoría  \
0   Deliciosa hamburguesa clásica con carne jugosa...      Hamburguesa
1   Hamburguesa con doble carne, queso fundido, to...      Hamburguesa
2   Sándwich de pollo picante con lechuga, tomate ...         Sándwich
3   Burger vegetariana con una sabrosa mezcla de v...      Hamburguesa
4   Huevos pochados sobre muffin inglés con loncha...         Desayuno
..                                                ...              ...
66  Postre italiano clásico hecho con bizcochos, c...           Postre
67  Alitas de pollo bañadas en salsa BBQ y servida...        Aperitivo
68  Ensalada César con pollo a la parrilla, lechug...         Ensalada
69  Quesadilla de pollo con queso cheddar derretid...  Plato Principal
70  Tarta de lima con una base de galleta y crema ...           Postre

    Precio  id
0     9.99   1
1    12.99   2
2    10.99   3
3     9.99   4
4    11.99   5
..     ...  ..
66    7.99  67
67    8.99  68
68   10.99  69
69    9.99  70
70    6.99  71

[71 rows x 7 columns]

### Add foreing key's restaurants to administratives

In [46]:
# Arreglo NumPy
arr = np.array(df_restaurants['id'])

# Elegir un elemento aleatorio del arreglo
elemento_aleatorio = np.random.choice(arr)

new_arr = np.array([])
for i in range(0,len(df_administratives['id'])):
    elemento_aleatorio = np.random.choice(arr)
    new_arr = np.append(new_arr,elemento_aleatorio)
    
print(arr)
print(new_arr)

[ 1  2  3  4  5  6  7  8  9 10]
[ 9.  1.  7.  3.  1.  2.  2.  2.  5.  3.  7.  1.  4.  4.  6.  1. 10.  2.
  5.  8.]

In [48]:
df_administratives['restaurant_id'] = new_arr

In [49]:
df_administratives

,Nombre,Email,Contraseña,Rol,id,restaurant_id
0,Rodrigo López,rodrigo@example.com,KX8YtZ5Q7a,Caja,1,9.0
1,Valentina Fernández,valentina@example.com,T2jF9P4D6s,Mozo,2,1.0
2,Federico Martínez,federico@example.com,M3rK7iG1V8,Administrativo,3,7.0
3,Camila Herrera,camila@example.com,E9sF6H2J1c,Mozo,4,3.0
4,Lucas Gómez,lucas@example.com,B5vR9A3K8t,Caja,5,1.0
5,Sofía Rodríguez,sofia@example.com,R6G9E2T5Y3,Mozo,6,2.0
6,Martín Castro,martin@example.com,F3H7N4K2T6,Administrativo,7,2.0
7,Carolina Morales,carolina@example.com,Y8J4W7N6D2,Caja,8,2.0
8,Nicolás Sánchez,nicolas@example.com,Q1W5Z7X9V3,Administrativo,9,5.0
9,Victoria González,victoria@example.com,L5K9N3J7H4,Caja,10,3.0
10,Juan Cruz Medina,juan@example.com,X7T2V4B1A9,Mozo,11,7.0
11,Valeria Peralta,valeria@example.com,A3E8R5G7C2,Administrativo,12,1.0
12,Agustín Acosta,agustin@example.com,D4K6V1T7L9,Caja,13,4.0
13,Martina Ríos,martina@example.com,U2Y4R7E9H3,Administrativo,14,4.0
14,Santiago Vargas,santiago@example.com,H7N3T2W5D4,Mozo,15,6.0
15,Florencia Romero,florencia@example.com,S4D9G6H2L1,Caja,16,1.0
16,Julián López,julian@example.com,N9B5T7R1M2,Administrativo,17,10.0
17,Lucía Morales,lucia@example.com,P8W3Y6Q9I5,Mozo,18,2.0
18,Bruno Fernández,bruno@example.com,V6C1X8Z3Q7,Caja,19,5.0
19,Valentina Díaz,valentina.diaz@example.com,I5H8K3T7R9,Administrativo,20,8.0

In [13]:
df_administratives.to_csv('./DB_finish/administratives.csv', sep = ';')
df_dishes.to_csv('./DB_finish/DISHES.csv', sep = ';')
df_restaurants.to_csv('./DB_finish/restaurants.csv', sep = ';')

Assign the ids of restaurants and dishes in array of numpy

In [28]:
array_id_restaurants = np.array(df_restaurants['id'])
array_id_dish = np.array(df_dishes['id'])

Create a numpy array with one houndred thousand ids

In [20]:
array_id_sales = np.arange(1,100001)

Create a Pandas' dataframe to one column using array of ids

In [23]:
df_sales = pd.DataFrame(array_id_sales, columns = ['id'])

In [25]:
df_sales['id_restaurant'] = 0

Complete the dataframe using to id_restaurants array

In [29]:

for index, row in df_sales.iterrows():
    elemento_aleatorio = np.random.choice(array_id_restaurants)
    df_sales.at[index, 'id_restaurant'] = elemento_aleatorio

In [39]:
fecha_actual = dt.datetime.now()
rango_horario = pd.date_range(start=fecha_actual, periods=len(array_id_dish), freq='1T',)[::-1]  # Rango de 30 minutos

In [40]:
rango_horario

DatetimeIndex(['2023-06-04 13:49:22.789251', '2023-06-04 13:48:22.789251',
               '2023-06-04 13:47:22.789251', '2023-06-04 13:46:22.789251',
               '2023-06-04 13:45:22.789251', '2023-06-04 13:44:22.789251',
               '2023-06-04 13:43:22.789251', '2023-06-04 13:42:22.789251',
               '2023-06-04 13:41:22.789251', '2023-06-04 13:40:22.789251',
               '2023-06-04 13:39:22.789251', '2023-06-04 13:38:22.789251',
               '2023-06-04 13:37:22.789251', '2023-06-04 13:36:22.789251',
               '2023-06-04 13:35:22.789251', '2023-06-04 13:34:22.789251',
               '2023-06-04 13:33:22.789251', '2023-06-04 13:32:22.789251',
               '2023-06-04 13:31:22.789251', '2023-06-04 13:30:22.789251',
               '2023-06-04 13:29:22.789251', '2023-06-04 13:28:22.789251',
               '2023-06-04 13:27:22.789251', '2023-06-04 13:26:22.789251',
               '2023-06-04 13:25:22.789251', '2023-06-04 13:24:22.789251',
               '2023-06-04 13:23:22.789251', '2023-06-04 13:22:22.789251',
               '2023-06-04 13:21:22.789251', '2023-06-04 13:20:22.789251',
               '2023-06-04 13:19:22.789251', '2023-06-04 13:18:22.789251',
               '2023-06-04 13:17:22.789251', '2023-06-04 13:16:22.789251',
               '2023-06-04 13:15:22.789251', '2023-06-04 13:14:22.789251',
               '2023-06-04 13:13:22.789251', '2023-06-04 13:12:22.789251',
               '2023-06-04 13:11:22.789251', '2023-06-04 13:10:22.789251',
               '2023-06-04 13:09:22.789251', '2023-06-04 13:08:22.789251',
               '2023-06-04 13:07:22.789251', '2023-06-04 13:06:22.789251',
               '2023-06-04 13:05:22.789251', '2023-06-04 13:04:22.789251',
               '2023-06-04 13:03:22.789251', '2023-06-04 13:02:22.789251',
               '2023-06-04 13:01:22.789251', '2023-06-04 13:00:22.789251',
               '2023-06-04 12:59:22.789251', '2023-06-04 12:58:22.789251',
               '2023-06-04 12:57:22.789251', '2023-06-04 12:56:22.789251',
               '2023-06-04 12:55:22.789251', '2023-06-04 12:54:22.789251',
               '2023-06-04 12:53:22.789251', '2023-06-04 12:52:22.789251',
               '2023-06-04 12:51:22.789251', '2023-06-04 12:50:22.789251',
               '2023-06-04 12:49:22.789251', '2023-06-04 12:48:22.789251',
               '2023-06-04 12:47:22.789251', '2023-06-04 12:46:22.789251',
               '2023-06-04 12:45:22.789251', '2023-06-04 12:44:22.789251',
               '2023-06-04 12:43:22.789251', '2023-06-04 12:42:22.789251',
               '2023-06-04 12:41:22.789251', '2023-06-04 12:40:22.789251',
               '2023-06-04 12:39:22.789251'],
              dtype='datetime64[ns]', freq='-1T')